# Have Git ignore the following files #
#######################################
# knitr/LaTeX byproduct files
*.aux
*.bbl
*.blg
cache/*
figure/*
*.log
*.gz
PoliSciGitStore_Paper-concordance.tex
# R byproduct files
.Rproj.user
.Rhistory
.RData
.DS_Store
